/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Righteous&display=swap');

.example::-webkit-scrollbar {
    display: none;
}

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: rgb(48, 1, 13);
}

body{
    height: 100;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
div{
    position: relative;
}

#home{
    position: fixed;
    width: auto;
    padding: auto;
}

header{
    position: fixed;
    padding: 0.3em;
    background-color: rgb(48, 1, 13);
    display: grid;
    justify-content: space-evenly;
    gap: 4px;
    grid-auto-flow: column;
    left:0;
    right:0;
    top:0;
    z-index:3;
}

img{
    height: 3.3em;
    width: 3.7em;
}
.sections{
    padding-top: 1em;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color: burlywood;
}
.sections:hover{
    font-size: 1.1em;
    text-decoration: underline burlywood;
    text-underline-offset: 0.5rem;
}


#hero{
    display: flex;
    height: 100vh;
    background-color: rgb(48, 1, 13);
    background-size: 41em 40em ;
    background-image: url("images/TaiichiBossTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 80% auto;
}
#textHero{
    position: absolute;
    left: 30%;
    right: 10%;
    top: 15%;
}

#title, #msg{
    color: whitesmoke;
    font-size: 1em;
}

#siono{
    display: flex;
    height: 100vh;
    background-color: burlywood;
    color: rgb(48, 1, 13); 
    background-image: url("images/TaiichiDiosTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 90% auto;
}

#contSiono{
    position: absolute;
    margin: 2em;
    top: 20%;
    left: 5%;
    right:10%;
}

#manodedios{
    display: flex;
    height: 100vh;
    background-color: rgb(48, 1, 13);
    color: burlywood;
    background-image: url("images/TaiichiComunistaTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 70% auto;
}

#contManodedios{
    position: absolute;
    margin: 2em;
    top: 20%;
    right: 5%;
    left:10%;
}

#ilumina{
    display: flex;
    height: 100vh;
    background-color: burlywood;
    color: rgb(48, 1, 13);
    background-image: url("images/TaiichiPaintTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 60% auto;
}

#contIlumina{
    position: absolute;
    margin: 2em;
    top: 20%;
    left: 5%;
    right:10%;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

/* RESPONSIVE
   ========================================================================= /*/
 
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- /*/
@media (min-width: 768px) { 
    #hero{
        background-size: 60% auto;
    }
    #siono{
        background-size: 70% auto;
    }
    #manodedios{
        background-size: 60% auto;
    }
    #ilumina{
        background-size: 40% auto;
    }
    #hero p{
        right: 5%;
        bottom: 75%;
    }
    #title, #msg{
        font-size: 1.2em;
    }
    #textHero{
        right: 10%;
    }
}
 
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- /*/
@media (min-width: 1024px) { 
    #hero{
        background-size: 50% auto;
    }
    #siono{
        background-size: 60% auto;
    }
    #manodedios{
        background-size: 50% auto;
    }
    #ilumina{
        background-size: 40% auto;
    }
    #title, #msg{
        font-size: 1.4em;
    }
}
 
/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { 
    #hero{
        background-size: 40% auto;
    }
    #siono{
        background-size: 50% auto;
    }
    #manodedios{
        background-size: 40% auto;
    }
    #ilumina{
        background-size: 30% auto;
    }
    #hero p{
        right: 5%;
        right: 40%;
    }
    #title, #msg{
        font-size: 1.6em;
    }
    #textHero{
        left: 30%;
        right: 5%;
    }
    #contSiono{
        
    }
}