/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Righteous&display=swap');

.example::-webkit-scrollbar {
    display: none;
}

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: rgb(48, 1, 13);
}

body{
    height: 100;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    padding: 0.5em;
    background-color: burlywood;
    display: grid;
    justify-content: space-evenly;
    gap: 4px;
    grid-auto-flow: column;
}

#logo img{
    height: 3.7em;
    width: 4em;
}
.sections{
    padding-top: 1em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 1, 13);
}
#hero{
    display: flex;
    height: 100vh;
    background-color: rgb(48, 1, 13);
    background-size: 41em 40em ;
    background-image: url("images/TaiichiPaintTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 70% auto;
}


#title, #msg{
    //position: absolute;
    bottom: 80%;
    left: 5%;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
}


#siono{
    display: flex;
    height: 100vh;
    background-color: burlywood;
    color: rgb(48, 1, 13); 
    background-image: url("images/TaiichiComunistaTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 70% auto;
}

#manodedios{
    display: flex;
    height: 100vh;
    background-color: rgb(48, 1, 13);
    color: burlywood;
    background-image: url("images/TaiichiDiosTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 80% auto;
}

#ilumina{
    display: flex;
    height: 100vh;
    background-color: burlywood;
    color: rgb(48, 1, 13);
    background-image: url("images/TaiichiBossTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 70% auto;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


/* RESPONSIVE
   ========================================================================= /*/
 
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- /*/
@media (min-width: 768px) { 
    #hero{
        background-size: 60% auto;
    }
    #siono, #manodedios, #ilumina{
        background-size: 50% auto;
    }
    #hero p{
        right: 5%;
        bottom: 75%;
    }

}
 
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- /*/
@media (min-width: 1024px) { 
    #hero{
        background-size: 50% auto;
    }
    #siono, #manodedios, #ilumina{
        background-size: 40% auto;
    }
    #hero p{
        right: 5%;
        right: 40%;
    }

}
 
/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { 
    #hero{
        background-size: 40% auto;
    }
    #siono, #manodedios, #ilumina{
        background-size: 40% auto;
    }
    #hero p{
        right: 5%;
        right: 40%;
    }
}