/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

@font-face {
    font-family: 'Moyko';
    src: url('fonts/Moyko.ttf')
}

@font-face {
    font-family: 'fontshui';
    src: url('fonts/fontshui.ttf')
}

@font-face {
    font-family: 'Yakuza';
    src: url('fonts/Yakuza.ttf')
}

@font-face {
    font-family: 'Masmuseh';
    src: url('fonts/Masmuseh.otf')
}

.color1 {
    background-color: #280008;
    color: wheat;
}

.color2 {
    background-color: wheat;
    color: #280008;
}

a {
    text-decoration: none;
    color: inherit;
}

.example::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    /*position: relative;*/
    height: 100;
    width: 100%;
    font-family: 'Masmuseh', normal;
}

#main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

div {
    position: relative;
}

header {
    position: fixed;
    padding: 0.3em;
    display: grid;
    justify-content: space-evenly;
    gap: 4px;
    grid-auto-flow: column;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}

img {
    height: 3.3em;
    width: 3.7em;
}

.sections {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
    transition: 250ms;
}

.sections:hover {
    font-size: 1.2em;
    text-decoration: underline #00c4c4;
    text-underline-offset: 0.5rem;
}

#hero {
    display: flex;
    height: 100vh;
    background-size: 41em 40em;
    background-image: url("images/TaiichiBossTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 75% auto;
}

#textHero {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 12.5%;
}

#title {
    font-size: 2.5em;
    font-family: 'Masmuseh', normal;
}

#subtitle {
    font-size: 1.5em;
}

#question {
    font-family: 'Masmuseh', normal;
    font-size: 2em;
}

#msg {
    font-size: 1.8em;
}

#siono {
    display: flex;
    height: 100vh;
    background-image: url("images/TaiichiDiosTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 90% auto;
}

#contSiono {
    position: absolute;
    margin: 2em;
    top: 12.5%;
}

#manodedios {
    display: flex;
    height: 100vh;
    background-image: url("images/TaiichiComunistaTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 70% auto;
}

#contManodedios {
    position: absolute;
    margin: 2em;
    top: 12.5%;
}

#ilumina {
    display: flex;
    height: 100vh;
    background-image: url("images/TaiichiPaintTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 60% auto;
}

#contIlumina {
    position: absolute;
    margin: 2em;
    top: 12.5%;
}

.textCont p {
    font-size: 1.5em;
}

.textCont h1 {
    font-size: 2em;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
}

/*Button
==============================================================================*/
.btn1 {
    --color: wheat;
    --hover: #80ffff;
    --txt: wheat;
}

.btn2 {
    --color: #280008;
    --hover: #00c4c4;
    --txt: #280008;
}

button {
    color: var(--color);
    transition: 250ms;
    background: none;
    border: 2px solid;
    font: inherit;
    font-size: 1.5em;
    line-height: 1;
    margin: 0.5em;
    padding: 0.6em 0.8em;
}

button:hover,
button:focus {
    border-color: var(--hover);
    color: var(--txt);
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    color: var(--hover);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}


/* RESPONSIVE
   ========================================================================= /*/
@media (min-width: 640px) {
    #hero {
        background-size: 55% auto;
    }

    #siono {
        background-size: 75% auto;
    }

    #manodedios {
        background-size: 55% auto;
    }

    #ilumina {
        background-size: 50% auto;
    }

    #hero p {
        right: 5%;
        bottom: 75%;
    }

    #title {
        font-size: 2.7em;
    }

    #subtitle {
        font-size: 1.6em;
    }

    #question {
        font-size: 2.2em;
    }

    #msg {
        font-size: 2em;
    }

    #textHero {
        right: 10%;
    }

    #contSiono {
        right: 22%;
    }

    #contIlumina {
        right: 15%;
    }

    #contManodedios {
        left: 25%;
    }

    .sections {
        font-size: 1.6em;
    }

    .sections:hover {
        font-size: 1.4em;
    }

    .textCont p {
        font-size: 1.7em;
    }

    .textCont h1 {
        font-size: 2.2em;
    }
}

@media (min-width: 768px) {
    #hero {
        background-size: 50% auto;
    }

    #siono {
        background-size: 70% auto;
    }

    #manodedios {
        background-size: 50% auto;
    }

    #ilumina {
        background-size: 45% auto;
    }

    #hero p {
        right: 5%;
        bottom: 75%;
    }

    #title {
        font-size: 2.9em;
    }

    #subtitle {
        font-size: 1.8em;
    }

    #question {
        font-size: 2.4em;
    }

    #msg {
        font-size: 2.2em;
    }

    #textHero {
        right: 10%;
    }

    #textHero {
        left: 20%;
        right: 10%;
    }

    #contSiono {
        right: 28%;
    }

    #contIlumina {
        right: 20%;
    }

    #contManodedios {
        left: 35%;
    }

    .sections {
        font-size: 1.8em;
    }

    .sections:hover {
        font-size: 1.6em;
    }

    .textCont p {
        font-size: 1.9em;
    }

    .textCont h1 {
        font-size: 2.4em;
    }
}

@media (min-width: 1024px) {
    #hero {
        background-size: 40% auto;
    }

    #siono {
        background-size: 60% auto;
    }

    #manodedios {
        background-size: 40% auto;
    }

    #ilumina {
        background-size: 35% auto;
    }

    #title {
        font-size: 3.2em;
    }

    #subtitle {
        font-size: 2em;
    }

    #question {
        font-size: 2.6em;
    }

    #msg {
        font-size: 2.4em;
    }

    #textHero {
        left: 20%;
        right: 10%;
    }

    #contSiono {
        right: 38%;
    }

    #contIlumina {
        right: 30%;
    }

    #contManodedios {
        left: 40%;
    }

    .sections {
        font-size: 1.9em;
    }

    .sections:hover {
        font-size: 1.7em;
    }

    .textCont p {
        font-size: 2.1em;
    }

    .textCont h1 {
        font-size: 2.6em;
    }

}

@media (min-width: 1280px) {
    #hero {
        background-size: 35% auto;
    }

    #siono {
        background-size: 50% auto;
    }

    #manodedios {
        background-size: 35% auto;
    }

    #ilumina {
        background-size: 30% auto;
    }

    #title {
        font-size: 3.6em;
    }

    #subtitle {
        font-size: 2.3em;
    }

    #question {
        font-size: 2.8em;
    }

    #msg {
        font-size: 2.6em;
    }

    #textHero {
        left: 25%;
        right: 10%;
    }

    #contSiono {
        right: 42%;
    }

    #contIlumina {
        right: 35%;
    }

    #contManodedios {
        left: 45%;
    }

    .sections {
        font-size: 2em;
    }

    .sections:hover {
        font-size: 1.8em;
    }

    .textCont p {
        font-size: 2.3em;
    }

    .textCont h1 {
        font-size: 2.8em;
    }
}

@media (min-width: 1536px) {
    #hero {
        background-size: 30% auto;
    }

    #siono {
        background-size: 40% auto;
    }

    #manodedios {
        background-size: 30% auto;
    }

    #ilumina {
        background-size: 25% auto;
    }

    #hero p {
        right: 5%;
        right: 40%;
    }

    #title {
        font-size: 4em;
    }

    #subtitle {
        font-size: 2.5em;
    }

    #question {
        font-size: 3em;
    }

    #msg {
        font-size: 2.8em;
    }

    #textHero {
        left: 30%;
        right: 5%;
    }

    #contSiono {
        right: 45%;
    }

    #contIlumina {
        right: 40%;
    }

    #contManodedios {
        left: 45%;
    }

    .sections {
        font-size: 2.1em;
    }

    .sections:hover {
        font-size: 1.9em;
    }

    .textCont p {
        font-size: 2.4em;
    }

    .textCont h1 {
        font-size: 3em;
    }
}