/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
.color1{
    background-color: #280008;
    color: wheat;
}
.color2{
    background-color: wheat;
    color: #280008;
}

a{
    text-decoration: none;
    color: inherit;
}
.example::-webkit-scrollbar {
    display: none;
}

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    //position: relative;
    height: 100;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

#main{
    //overflow-y: scroll;
    //scroll-snap-type: y mandatory;
}

div{
    position: relative;
}

header{
    position: fixed;
    padding: 0.3em;
    display: grid;
    justify-content: space-evenly;
    gap: 4px;
    grid-auto-flow: column;
    left:0;
    right:0;
    top:0;
    z-index:3;
}

img{
    height: 3.3em;
    width: 3.7em;
}
.sections{
    padding-top: 1em;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    transition: 250ms;
}
.sections:hover{
    font-size: 1.1em;
    text-decoration: underline wheat;
    text-underline-offset: 0.5rem;
}

#hero{
    display: flex;
    height: 100vh;
    justify: start;
    background-size: 41em 40em ;
    background-image: url("images/TaiichiBossTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 75% auto;
}
#textHero{
    position: absolute;
    left: 30%;
    right: 10%;
    top: 15%;
}

#title{
    font-size: 2em;
    font-family: 'Ephesis', cursive;
} 

#question{
    font-family: 'Ephesis', cursive;
    font-size: 2em;
}

#msg{
    font-size: 1.2em;
}

#siono{
    display: flex;
    height: 100vh;
    justify: start;
    background-image: url("images/TaiichiDiosTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 90% auto;
}

#contSiono{
    position: absolute;
    margin: 2em;
    top: 20%;
}

#manodedios{
    display: flex;
    height: 100vh;
    justify: start;
    background-image: url("images/TaiichiComunistaTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 70% auto;
}

#contManodedios{
    position: absolute;
    margin: 2em;
    top: 20%;
}

#ilumina{
    display: flex;
    height: 100vh;
    justify: start;
    background-image: url("images/TaiichiPaintTransparent.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 60% auto;
}

#contIlumina{
    position: absolute;
    margin: 2em;
    top: 20%;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    //scroll-snap-align: end;
}

/*Button
==============================================================================*/
.btn1{
    --color: wheat;
    --hover: #80ffff;
    --txt: wheat;
}
.btn2{
    --color: #280008;
    --hover: #00c4c4;
    --txt: #280008;
}
button {
    color: var(--color);
    transition: 250ms;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

button:hover, button:focus {
    border-color: var(--hover);
    color: var(--txt);
    }
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  color: var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}


/* RESPONSIVE
   ========================================================================= /*/
@media (min-width: 640px) { 
    #hero{
        background-size: 55% auto;
    }
    #siono{
        background-size: 75% auto;
    }
    #manodedios{
        background-size: 55% auto;
    }
    #ilumina{
        background-size: 50% auto;
    }
    #hero p{
        right: 5%;
        bottom: 75%;
    }
    #title, #msg{
        font-size: 1.3em;
    }
    #textHero{
        right: 10%;
    }
    #contSiono, #contIlumina{
        right: 15%;
    }
    #contManodedios{
        left: 15%;
    }
}

@media (min-width: 768px) { 
    #hero{
        background-size: 50% auto;
    }
    #siono{
        background-size: 70% auto;
    }
    #manodedios{
        background-size: 50% auto;
    }
    #ilumina{
        background-size: 45% auto;
    }
    #hero p{
        right: 5%;
        bottom: 75%;
    }
    #qestion, #msg{
        font-size: 1.4em;
    }
    #textHero{
        right: 10%;
    }
    #contSiono, #contIlumina{
        right: 20%;
    }
    #contManodedios{
        left: 20%;
    }
}
 
@media (min-width: 1024px) { 
    #hero{
        background-size: 40% auto;
    }
    #siono{
        background-size: 60% auto;
    }
    #manodedios{
        background-size: 40% auto;
    }
    #ilumina{
        background-size: 35% auto;
    }
    #question, #msg{
        font-size: 1.5em;
    }
    #contSiono, #contIlumina{
        right: 30%;
    }
    #contManodedios{
        left: 30%;
    }
}
 
@media (min-width: 1280px) { 
    #hero{
        background-size: 35% auto;
    }
    #siono{
        background-size: 50% auto;
    }
    #manodedios{
        background-size: 35% auto;
    }
    #ilumina{
        background-size: 30% auto;
    }
    #question, #msg{
        font-size: 1.5em;
    }
    #contSiono, #contIlumina{
        right: 35%;
    }
    #contManodedios{
        left: 35%;
    }
}
 
@media (min-width: 1536px) { 
    #hero{
        background-size: 30% auto;
    }
    #siono{
        background-size: 40% auto;
    }
    #manodedios{
        background-size: 30% auto;
    }
    #ilumina{
        background-size: 25% auto;
    }
    #hero p{
        right: 5%;
        right: 40%;
    }
    #question, #msg{
        font-size: 1.6em;
    }
    #textHero{
        left: 30%;
        right: 5%;
    }
    #contSiono, #contIlumina{
        right: 40%;
    }
    #contManodedios{
        left: 40%;
    }
}
